var padStart = function(num) {
  return num < 10 ? "0" + num : num
}
var dateFormat = function (date, format) {
  if (!date) {
    return ""
  }
  date = getDate(date)
  var year = date.getFullYear()
  var month = (padStart(date.getMonth() + 1))
  var day = padStart(date.getDate())
  var hour = padStart(date.getHours())
  var minute = padStart(date.getMinutes())
  var second = padStart(date.getSeconds())
  format = format ? format : 'yyyy-MM-dd HH:mm:ss'
  return format.replace('yyyy', year).replace('MM', month).replace('dd', day).replace('HH', hour).replace('mm', minute).replace('ss', second)
}

module.exports = {
  DateFormat: dateFormat
}